body
{
	padding: 10px;
	margin: 40px;
	font-size: 30px;
	font-family: Helvetica;
	background-image: url(https://e.rpp-noticias.io/normal/2019/11/17/445544_865146.jpg);
	background-repeat: no-repeat;
	background-size: auto;
	color: rgb(228, 223, 236);
}
nav
{
    background-color: rgb(42, 201, 180);
	padding: 0px;
	color: rgb(15, 9, 66);
}